<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-flex align-items-center">
  <div class="container d-flex justify-content-center justify-content-md-between">
    <div class="contact-info d-flex align-items-center">
      <i class="bi bi-envelope-fill"></i><a href="mailto:contact@example.com">comunicacao@glmpi.org.br</a>
      <i class="bi bi-phone-fill phone-icon"></i> +55 86 98146-5579
    </div>
    <div class="social-links d-none d-md-block">
    </div>
  </div>
  
  <div class="social-links d-none d-md-block">
  <%= link_to "https://api.whatsapp.com/send?phone=5586981465579&text=oi", class: "btn btn-default" do %>	     
    <ion-icon name="logo-whatsapp"></ion-icon>
  <% end %>	   
  <%= link_to "https://www.youtube.com/channel/UC6W_rIUm_CjLUOLIH37C3Ag", class: "btn btn-default" do %>	 
    <ion-icon name="logo-youtube"></ion-icon>	    
  <% end %>	            
  <%= link_to "https://www.instagram.com/glmpi_/?hl=en", class: "btn btn-default" do %>	  
    <ion-icon name="logo-instagram"></ion-icon>
  <% end %>
  <%= link_to "https://www.facebook.com/Grande-Loja-Ma%C3%A7%C3%B4nica-do-Piau%C3%AD-107478261032670/?modal=admin_todo_tour", class: "btn btn-default" do %>	    
    <ion-icon name="logo-facebook"></ion-icon>
  <% end %>
  <%= link_to "", class: "btn btn-default" do %>	        
    <ion-icon name="tv-outline"></ion-icon>	      
  <% end %>	      
  <%= link_to "http://www.radios.com.br/play/154549", class: "btn btn-default" do %>	    
    <ion-icon name="radio-outline"></ion-icon>
  <% end %>
  <%= link_to "comunicacao@glmpi.org.br", class: "btn btn-default" do %>	    
  <ion-icon name="mail-outline">
  <% end %>
  <%= link_to "Email", "https://mailpro.uol.com.br/glmpi.org.br" , class: "btn btn-default", style: "button" %> 
    <%= link_to "Login", backoffice_dashboard_index_path, class: "btn btn-default", style: "button" %> 

  </div>      
</section>
        <!-- ======= Header ======= -->
        <header id="header" class="d-flex align-items-center">
          <div class="container d-flex align-items-center">
      
            <div class="logo me-auto">
              <a class="navbar-item" href="https://glmpi.org.br">
                <%= image_tag "logo/logo_maconica.png",  class: "navbar-brand", height: "100"%>
                <strong class="logo me-auto">GLMPI</strong>
               
              </a>
               
            </div>
            <nav id="navbar" class="navbar">
              <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#team">Grão Mestrado</a></li>
                <li><a class="nav-link scrollto" href="#faq">História</a></li>
                <li><a class="nav-link scrollto" href="<a class="navbar-item">
                <%= link_to "Noticia", site_news_index_path %></li>
                <li><a class="nav-link scrollto" href="#team">Agenda</a></li>
                <li><a class="nav-link scrollto" href="#team">Maçonaria</a></li>
                <li><a class="nav-link scrollto" href="#team">Paramaçônicas</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contato</a></li>
               <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                  <ul>
                    <li><a href="#">Drop Down 1</a></li>
                    <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                      <ul>
                        <li><a href="#">Deep Drop Down 1</a></li>
                        <li><a href="#">Deep Drop Down 2</a></li>
                        <li><a href="#">Deep Drop Down 3</a></li>
                        <li><a href="#">Deep Drop Down 4</a></li>
                        <li><a href="#">Deep Drop Down 5</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Drop Down 2</a></li>
                    <li><a href="#">Drop Down 3</a></li>
                    <li><a href="#">Drop Down 4</a></li>
                  </ul>
                # </li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>-->
              </ul>
              <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
          </div>
        </header>
      
      <body>
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
                <%= image_tag "carousel/slide1.png", class: "d-block w-100"%>
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
            <div class="carousel-item">
              <%= image_tag "carousel/slide2.png", class: "d-block w-100"%>
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
            <div class="carousel-item">
              <%= image_tag "carousel/slide3.png", class: "d-block w-100"%>
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
   
    </section>
    
    </section><!-- End Frequently Asked Questions Section -->
    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team">
     <div class="container" data-aos="fade-up">
 
       <div class="section-title">
         <h2>Grão-Mestrado</h2>
         <p></p>
       </div>
 
       <div class="row">
 
         <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
           <div class="member">
             <div class="pic"><%= image_tag "luzes/Jarbas.jpg", class: "d-block w-100"%></div>
             <div class="member-info">
               <h4>Jarbas Nogueira Matias</h4>
               <span>Grão-Mestre</span>
               <div class="social">
                 <a href=""><i class="bi bi-twitter"></i></a>
                 <a href=""><i class="bi bi-facebook"></i></a>
                 <a href=""><i class="bi bi-instagram"></i></a>
               </div>
             </div>
           </div>
         </div>
 
         <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
           <div class="member">
           <div class="pic"><%= image_tag "luzes/benzao.jpg", class: "d-block w-100"%></div>
             <div class="member-info">
               <h4>Ronalde Calixto de Souza</h4>
               <span>Grão Mestre - ADJ</span>
               <div class="social">
                 <a href=""><i class="bi bi-twitter"></i></a>
                 <a href=""><i class="bi bi-facebook"></i></a>
                 <a href=""><i class="bi bi-instagram"></i></a>
               </div>
             </div>
           </div>
         </div>
 
         <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
           <div class="member">
           <div class="pic"><%= image_tag "luzes/ariosto.jpg", class: "d-block w-100"%></div>
             <div class="member-info">
               <h4>Ariosto Fernandez</h4>
                 <span>Primeiro Grande Vigilante</span>
               <div class="social">
                 <a href=""><i class="bi bi-twitter"></i></a>
                 <a href=""><i class="bi bi-facebook"></i></a>
                 <a href=""><i class="bi bi-instagram"></i></a>
               </div>
             </div>
           </div>
         </div>
 
         <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
           <div class="member">
           <div class="pic"><%= image_tag "luzes/antonio.jpg", class: "d-block w-100"%></div>
             <div class="member-info">
               <h4>Antônio Libério</h4>
                 <span>Segundo Grande Vigilante</span>
               <div class="social">
                 <a href=""><i class="bi bi-twitter"></i></a>
                 <a href=""><i class="bi bi-facebook"></i></a>
                 <a href=""><i class="bi bi-instagram"></i></a>
               </div>
             </div>
           </div>
         </div>
 
       </div>
 
     </div>
    </section>
    <section id="portfolio" class="portfolio section-bg">
      <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <div class="section-title">
          <h2>Notícias</h2>
        </div>
        <div class="card-group">
          <% @site_news.last(3).each do |site_news| %>
            <div class="card">
            <%= image_tag site_news.featured_image, class: "card-img-top" %>
              <div class="card-body">
                <h5 class="card-title"><%= site_news.title %></h5>
                <p class="card-text"><span><p><%= site_news.author[0, 50] %>...</p></span></p>
                <a href="/site/news/<%= site_news.id %>" class="btn btn-primary">Leia já!</a></p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          <% end %>
          <b>
        </div>
      </div>
    </section>
    <section id="faq" class="faq section-bg">
    <div class="container"  data-aos="fade-up">

      <div class="section-title">
        <h2>História da Grande Loja Maçônica do Piauí</h2>
        <h6>(Fundada 13 de novembro de 1948)</h6>
      </div>

      <div class="row  d-flex align-items-stretch">

        <div class="col-lg-6 faq-item" data-aos="fade-up">
          <h4>Reunião de Fundação</h4>
          <p>
          Em 9 Dezembro de 1947, na reunião da fundação maçônica, na Rua São Pedro, 975, centro, 
          Teresina-PI, foi inaugurado, sob a obediência da Mui Respeitável Grande Loja Maçônica do 
          Estado do Rio de Janeiro, à época Grande Loja Symbolica do Rio de Janeiro,
           a Loja Simbólica Mestre Higino Cunha nº 31. 
          </p>
        </div>

        <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="100">
          <h4>Carta Constitutiva  </h4>
          <p>
          Alexandre Soares Gonçalves, Edgar Antunes de Alencar  - 
          Past Grão-Mestre e o Delegado do Sereníssimo Grão-Mestre da então 
          Grande Loja Symbolica do Rio de Janeiro junto á Potência Cearense,
          José Campelo Camanho e José Frederico Andrade da então Grande Loja Escocesa para o Estado do Ceará
          foram nomeados pelo Sereníssimo, através do Ato 317 de 24 de abril de 1948,
          sagrou  o Templo da Augusta e Respeitável Loja Simbólica Mestre Higino Cunha N 13, 
          na Rua Coelho Rodrigues, 1143, onde instalou o Venerável Mestre e empossou a nova direção da Loja.
          
          </p>
        </div>

        <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="200">
          <h4>Grande Loja Symbolica do Rio de Janeiro</h4>
          <p>
          Antônio de Castro Franco através do Ato 318, do Grão-Mestre Eurico Figueiredo Sampaio da 
          Grande Loja Symbolica do Rio de Janeiro, de 26 de 1948, foi Nomeado Delegado daquele Sereníssimo para o oriente de Teresina.
          </p>
        </div>

        <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="300">
          <h4>Fundação das Lojas Simbólicas</h4>
          <p>
          site_newsriormente, com a fundação das Lojas Simbólicas Pátria e Liberdade N 32, em 21 de agosto de 1948, no oriente de Teresina-PI, e Costa Araújo N 33, em 9 de outubro de 1948, no oriente de Campo Maior-PI, fundou-se a Grande Loja Maçônica do Piauí com carta constitutiva da então Grande Loja Symbolica do Rio de Janeiro.
          </p>
        </div>

        <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="400">
          <h4>Primeiro Sereníssimo Grão-Mestre</h4>
          <p>
           A fundação da então Grande Loja Simbólica Soberana no estado do Piauí aconteceu em 13 de novembro de 1948, tendo como seu primeiro Sereníssimo Grão-Mestre Antônio de Castro Franco, regularizada em 8 de dezembro de 1948.

          </p>
        </div>

        <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="500">
          <h4>Supremo Conselho do Grau 33 do Rito Escocês Antigo e Aceito</h4>
          <p>
          O Supremo Conselho do Grau 33 do Rito Escocês Antigo e Aceito da Maçonaria para a República Federativa do Brasil, na pessoa do Soberano Grande Comendador Álvaro de Figueiredo, de imediato formalizou um tratado com a nova Obediência.
          </p>
        </div>
        <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="500">
          <h4>Supremo Conselho do Grau 33 do Rito Escocês Antigo e Aceito</h4>
          <p>
          Sob a jurisdição da Mui Respeitável Grande Loja Simbólica Soberana para o Estado do Piauí, a Higino Cunha N 1, recebeu sua Carta Constitutiva com o nome de Loja Simbólica Mestre Higino Cunha N 1.
          </p>
        </div>
        <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="500">
          <h4>Sessão Magna da Grande Loja Simbólica Soberana para o Estado do Piauí</h4>
          <p>
          Em Sessão Magna da Grande Loja Simbólica Soberana para o Estado do Piauí, em 7 de julho de 1949, a Loja Simbólica Mestre Higino Cunha N 1 recebeu o título de Benemérita, sendo a única, até a presente, possuidora da honraria. Daí, sendo referenciada como Augusta, Respeitável e Benemérita Loja Simbólica Loja Simbólica Mestre Higino Cunha N 1
          </p>
        </div>
      </div>

    </div>
  </section><!-- End Frequently Asked Questions Section -->
    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
     <div class="container" data-aos="fade-up">
 
       <div class="section-title">
         <h2>Contatos</h2>
       </div>
 
       <div class="row">
 
         <div class="col-lg-6 d-flex" data-aos="fade-up">
           <div class="info-box">
             <i class="bx bx-map"></i>
             <h3>Endereço</h3>
             <p>R. Simplício Mendes, 797 - Centro</p>
           </div>
         </div>
 
         <div class="col-lg-3 d-flex" data-aos="fade-up" data-aos-delay="100">
           <div class="info-box">
             <i class="bx bx-envelope"></i>
             <h3>Email</h3>
             <p>comunicacao@glmpi.org.br</p>
           </div>
         </div>
 
         <div class="col-lg-3 d-flex" data-aos="fade-up" data-aos-delay="200">
           <div class="info-box ">
             <i class="bx bx-phone-call"></i>
             <h3>Telefone</h3>
             <p>+55 86 98146-5579</p>
           </div>
         </div>
 
         <div class="col-lg-12" data-aos="fade-up" data-aos-delay="300">
           <form action="forms/contact.php" method="site_news role="form" class="php-email-form">
             <div class="row">
               <div class="col-lg-6 form-group">
                 <input type="text" name="name" class="form-control" id="name" placeholder="Seu nome" required>
               </div>
               <div class="col-lg-6 form-group">
                 <input type="email" class="form-control" name="email" id="email" placeholder="Seu Email" required>
               </div>
             </div>
             <div class="form-group">
               <input type="text" class="form-control" name="subject" id="subject" placeholder="Título" required>
             </div>
             <div class="form-group">
               <textarea class="form-control" name="message" rows="5" placeholder="Mensagem" required></textarea>
             </div>
             <div class="my-3">
               <div class="loading">Loading</div>
               <div class="error-message"></div>
               <div class="sent-message">Sua mensagem foi enviada, obrigado!</div>
             </div>
             <div class="text-center"><button type="submit">Enviar mensagem</button></div>
           </form>
         </div>
 
       </div>
 
     </div>
   </section><!-- End Contact Us Section -->

  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>GLMPI</h3>
            <p>
              Rua Simplício Mendes, 797<br>
               - Centro (Norte), Teresina<br>
              <strong>Telefone:</strong> +55 86 98146-5579<br>
              <strong>Email:</strong> comunicacao@glmpi.org.br<br>
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Menu Principal</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">História GLMPI</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Lojas Jurisdiocinadas</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Notícias</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Agenda</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Outros</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Maçonaria</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Paramaçônicas</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">DeMolay</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Filhas de Jo</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Fraternidade Feminina</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Receba Notícias</h4>
            <p>Cadastre seu email</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>GLMPI</span></strong>. Todos os direitos reservados
      </div>
      <div class="credits">
        Desenvolvido por <a href="https://hemershon.com/">Hemesrhon Silva</a>
      </div>
    </div>
  </footer><!-- End Footer -->
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
</body>
</html>