<section id="topbar" class="d-flex align-items-center">
  <div class="container d-flex justify-content-center justify-content-md-between">
    <div class="contact-info d-flex align-items-center">
      <i class="bi bi-envelope-fill"></i><a href="mailto:contact@example.com">comunicacao@glmpi.org.br</a>
      <i class="bi bi-phone-fill phone-icon"></i> +55 86 98146-5579
    </div>
    <div class="social-links d-none d-md-block">
    </div>
  </div>
  
  <div class="social-links d-none d-md-block">
  <%= link_to "https://api.whatsapp.com/send?phone=5586981465579&text=oi", class: "btn btn-default" do %>	     
    <ion-icon name="logo-whatsapp"></ion-icon>
  <% end %>	   
  <%= link_to "https://www.youtube.com/channel/UC6W_rIUm_CjLUOLIH37C3Ag", class: "btn btn-default" do %>	 
    <ion-icon name="logo-youtube"></ion-icon>	    
  <% end %>	            
  <%= link_to "https://www.instagram.com/glmpi_/?hl=en", class: "btn btn-default" do %>	  
    <ion-icon name="logo-instagram"></ion-icon>
  <% end %>
  <%= link_to "https://www.facebook.com/Grande-Loja-Ma%C3%A7%C3%B4nica-do-Piau%C3%AD-107478261032670/?modal=admin_todo_tour", class: "btn btn-default" do %>	    
    <ion-icon name="logo-facebook"></ion-icon>
  <% end %>
  <%= link_to "", class: "btn btn-default" do %>	        
    <ion-icon name="tv-outline"></ion-icon>	      
  <% end %>	      
  <%= link_to "http://www.radios.com.br/play/154549", class: "btn btn-default" do %>	    
    <ion-icon name="radio-outline"></ion-icon>
  <% end %>
  <%= link_to "comunicacao@glmpi.org.br", class: "btn btn-default" do %>	    
  <ion-icon name="mail-outline">
  <% end %>
  <%= link_to "Email", "https://mailpro.uol.com.br/glmpi.org.br" , class: "btn btn-default", style: "button" %> 
    <%= link_to "Login", backoffice_dashboard_index_path, class: "btn btn-default", style: "button" %> 

  </div>      
</section>
   <!-- ======= Header ======= -->
        <header id="header" class="d-flex align-items-center">
          <div class="container d-flex align-items-center">
      
            <div class="logo me-auto">
              <a class="navbar-item" href="https://glmpi.org.br">
                <%= image_tag "logo/logo_maconica.png" %>                
              </a>
               
            </div>
            <nav id="navbar" class="navbar">
              <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#team">Grão Mestrado</a></li>
                <li><a class="nav-link scrollto" href="#faq">História</a></li>
                <li><a class="nav-link scrollto" href="#portfolio">Notícias</a></li>
                <li><a class="nav-link scrollto" href="#team">Agenda</a></li>
                <li><a class="nav-link scrollto" href="#team">Maçonaria</a></li>
                <li><a class="nav-link scrollto" href="#team">Paramaçônicas</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contato</a></li>
               <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                  <ul>
                    <li><a href="#">Drop Down 1</a></li>
                    <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                      <ul>
                        <li><a href="#">Deep Drop Down 1</a></li>
                        <li><a href="#">Deep Drop Down 2</a></li>
                        <li><a href="#">Deep Drop Down 3</a></li>
                        <li><a href="#">Deep Drop Down 4</a></li>
                        <li><a href="#">Deep Drop Down 5</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Drop Down 2</a></li>
                    <li><a href="#">Drop Down 3</a></li>
                    <li><a href="#">Drop Down 4</a></li>
                  </ul>
                # </li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>-->
              </ul>
              <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
          </div>
        </header>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

