<section id="portfolio" class="portfolio section-bg">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
  <%= form_with(model: @site_news, local: true) do |form| %>
    <% if @site_news.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% site_news.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="file">
      <label class="file-label">
        <%= form.file_field :featured_image, class: 'file-input' %>
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            Escolha a imagem de destaque…
          </span>
        </span>
      </label>
    </div>

    </br>

    <div class="field">
      <%= form.label 'Título', class: 'label' %>
      <div class="control">
        <%= form.text_field :title, class: 'input' %>
      </div>
    </div>

    <div class="field">
      <%= form.label 'Autor', class: 'label' %>
      <div class="control">
        <%= form.text_field :author, class: 'input' %>
      </div>
    </div>


    <div class="field">
      <%= form.label 'Conteúdo', class: 'label' %>
      <%= form.rich_text_area :content %>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <%= form.submit 'Criar', class: 'button is-link' %>
      </div>
      <div class="control">
        <%= link_to 'Voltar', site_news_index_path, class: 'button is-link is-light' %>
      </div>
    </div>
  <% end %>
  </div>
</section>
